/* 
    main : #2b2b2b

    stroke : rgba(138, 138, 138, 0.25)
    up-shadow : rgba(75, 75, 75, 0.25)
    down-shadow : rgba(0, 0, 0, 0.3)
*/

@font-face{
    font-family: Apex;
    src: url('../font/ProximaNova-Light.ttf') format("truetype");
}

p{
    margin: 0px;
}

a{
    color: orangered;
}

a:hover{
    color: rgb(161, 44, 1);
}

body{
    background-color: #2b2b2b;
}

hr{
    border: 0.5px solid rgb(51, 51, 51);
    margin-bottom: 1.5em;
}

.footer {
    color: rgb(99, 99, 99);
    font-family: Apex;
    font-size: 12px;

    margin-top: 2em;
    margin-bottom: 6em;
    text-align: center;
}

.upbox{
    color: gainsboro;
    background-color: #2b2b2b;

    border-radius: 12px;
    border: 1px solid rgb(51, 51, 51);
    box-shadow: -4px -4px 14px 4px rgba(75, 75, 75, 0.25), 6px 6px 20px 2px rgba(0, 0, 0, 0.3);
}

.downbox{
    color: gainsboro;
    background-color: #2b2b2b;

    border-radius: 12px;
    border: 1px solid rgb(51, 51, 51);
    box-shadow: 
        inset 4px 4px 4px 1px rgba(75, 75, 75, 0.25), 
        inset -6px -6px 6px 1px rgba(0, 0, 0, 0.2),
        2px 2px 2px 0px rgba(75, 75, 75, 0.25), 
        -2px -2px 2px 0px rgba(0, 0, 0, 0.3);
}

.superdownbox{
    color: gainsboro;
    background-color: #1a1a1a;

    border-radius: 12px;
    box-shadow: 
        inset 4px 4px 4px 1px rgba(0, 0, 0, 0.25), 
        inset -6px -6px 6px 1px rgba(0, 0, 0, 0.2),
        2px 2px 2px 0px rgba(75, 75, 75, 0.25), 
        -2px -2px 2px 0px rgba(0, 0, 0, 0.3);
}

.hoverbox{
    color: gainsboro;
    background-color: #2b2b2b;

    border-radius: 3px;
    border: 1px solid rgb(51, 51, 51);
    box-shadow: 
        0px 4px 4px 2px rgba(0, 0, 0, 0.25);
        
}

#navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.5em;
    margin: 1em;

    font-family: Apex;
}

.navflex#start{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.navflex#end{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-item{
    margin-left: 15px;
    margin-right: 15px;
}

#avatar {
    font-size: 1.6em;
}

#id_clock{
    font-family: Apex;
    color: gray;
}

.navbar-end-bttn{
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 0px;
    margin-left: 8px;
}

#workerapp-mainblock{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.session-block{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    font-family: Apex;
    color: gainsboro;
}

#session-new-bttn{
    padding: 10px;
    margin: 1em;
}

#stats{
    padding: 10px;
    font-family: Apex;
    color: gainsboro;

    margin-left: 20px;
    width: 350px;
}

#close-sessions{
    padding: 10px;
    font-family: Apex;
    color: gainsboro;
    width: inherit;

}

#close-sessions-array{
    padding: 13px;
    min-height: 370px;
}

.close-sessions-item{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;
    margin-bottom: 15px;

    width: 100%;
}

#mobile-footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.mobile-add-button{
    color: black;
    font-family: Apex;
    text-align: center;

    background-color: #ff7d32;

    border-radius: 3px;
    border: 1px solid rgb(51, 51, 51);
    box-shadow: 
        0px 4px 20px 6px rgba(0, 0, 0, 0.25);

    
    height: 60px;
    width: 400px;
    margin: 10px;
    padding: 10px;
}
/* ========================  NO  DISPLAY  ================================== */

#navbar-logout{
    display: none;
}

#id_clock{
    display: none;
}

#navbar-setting{
    display: none;
}

#stats{
    display: none;
}

.session-block{
    display: none;
}